// @import '~antd/dist/antd.less';
@import '../../../themes/iPlaceTheme.less';

.header {
  padding: 0px 0px 3px 0px;

  display: flex;
  justify-content: space-between;

  .left-container {
    display: flex;
  }

  .right-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 2vh;

    .ant-avatar {
      background-color: @primary-color;
    }
  }
}