@import '../../../../../themes/iPlaceTheme.less';

.trigger-buttons {
    padding-left: 2vh;
  }
  
  .trigger {
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    color: @primary-color;
  }
  
  .trigger:hover {
    color: @primary-color;
  }